*{
    color:white;
    background-color: grey;
}

h1{
    color: blue;
}

div p{
    background-color: red;
}

body>p{
    background-color: yellow;
}

p+p{
    background-color: green;
}

p~p{
    color:purple;
}